.pdf-cropper-img {
  width: calc(var(--pdf-page-width, 0) * var(--pdf-page-scale, 1) * 1px);
  height: calc(var(--pdf-page-height, 0) * var(--pdf-page-scale, 1) * 1px);
  max-width: none;
  max-height: none;
  position: absolute;
  left: 0;
  top: calc(var(--pdf-page-top, 0) * var(--pdf-page-scale, 1) * 1px);
}

.box-cropper {
  stroke: var(--crop-selection-guide-color);
  stroke-width: 1.5;
  z-index: 15;
  fill: color-mix(
    in srgb,
    var(--crop-selection-guide-color)
    calc(var(--crop-selection-bg-opacity) * 1%),
    transparent
  );
}

.line-cropper {
  stroke: var(--crop-selection-guide-color);
  stroke-width: 1.5;
  z-index: 25;
}

.line-cropper.selected {
  stroke: var(--crop-selected-region-color);
  z-index: 20;
}

.line-cropper.skip {
  stroke: var(--crop-selection-skip-color);
}

.blur-cropped .cropped-overlay {
  backdrop-filter: blur(calc(var(--pdf-cropped-blur-intensity) * 1px));
}

#cropped-overlay-elem {
  width: calc(var(--pdf-pages-container-width) * var(--pdf-page-scale) * 1px);
  height: calc(var(--pdf-pages-container-height) * var(--pdf-page-scale) * 1px);
}

.resizer {
  height: 10px;
  width: 10px;
  position: absolute;
  background: var(--crop-selection-guide-color);
  border: 1px solid white;
}
.resizer.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resizer.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resizer.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.resizer.left {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizer.right {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizer.top {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resizer.bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.cropped-overlay {
  position: absolute;
  z-index: 10;
  cursor: move;
  display: inline-flex;
  transform: translate(
    calc(var(--l) * var(--pdf-page-scale) * 1px),
    calc(var(--t) * var(--pdf-page-scale) * 1px)
  );
  width: calc((var(--r) - var(--l)) * var(--pdf-page-scale) * 1px);
  height: calc((var(--b) - var(--t)) * var(--pdf-page-scale) * 1px);
  outline: 2px solid var(--crop-selected-region-color);
  outline-offset: -1px;
  background-color: color-mix(in srgb, var(--crop-selected-region-color) calc(var(--crop-selected-region-bg-opacity) * 1%), transparent);
}

.blur-cropped .cropped-overlay {
  backdrop-filter: blur(calc(var(--pdf-cropped-blur-intensity) * var(--pdf-page-scale) * 1px));
}

.overlay-label {
  display: flex;
  color: black;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
  margin: auto;
  font-size: min(
    clamp(6px, calc((var(--r) - var(--l)) * var(--pdf-page-scale) * 0.05px), 22px),
    calc((var(--b) - var(--t)) * var(--pdf-page-scale) * 0.3px)
  );
}

.cropped-overlay.active {
  z-index: 30;
  outline: 2px solid var(--crop-selection-guide-color);
  outline-offset: -1px;
  background-color: color-mix(in srgb, var(--crop-selection-guide-color) calc(var(--crop-selection-bg-opacity) * 1%), transparent);
}
