@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --p-primary-50: var(--color-emerald-50);
  --p-primary-100: var(--color-emerald-100);
  --p-primary-200: var(--color-emerald-200);
  --p-primary-300: var(--color-emerald-300);
  --p-primary-400: var(--color-emerald-400);
  --p-primary-500: var(--color-emerald-500);
  --p-primary-600: var(--color-emerald-600);
  --p-primary-700: var(--color-emerald-700);
  --p-primary-800: var(--color-emerald-800);
  --p-primary-900: var(--color-emerald-900);
  --p-primary-950: var(--color-emerald-950);

  --p-surface-0: var(--color-white);
  --p-surface-50: var(--color-zinc-50);
  --p-surface-100: var(--color-zinc-100);
  --p-surface-200: var(--color-zinc-200);
  --p-surface-300: var(--color-zinc-300);
  --p-surface-400: var(--color-zinc-400);
  --p-surface-500: var(--color-zinc-500);
  --p-surface-600: var(--color-zinc-600);
  --p-surface-700: var(--color-zinc-700);
  --p-surface-800: var(--color-zinc-800);
  --p-surface-900: var(--color-zinc-900);
  --p-surface-950: var(--color-zinc-950);

  --p-content-border-radius: 6px;
}

:root {
  --font-mono: 'Noto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Courier New', 'Liberation Mono', monospace;
}

:root {
  --p-primary-color: var(--p-primary-400);
  --p-button-primary-color: var(--p-surface-950);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}

@supports not (max-height: 100dvh) {
  .max-h-dvh {
    max-height: 100vh;
  }
}

@supports not (min-height: 100dvh) {
  .min-h-dvh {
    min-height: 100vh;
  }
}
